* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

body {
  background: whitesmoke;
  height: 100vh;
}

$ghibliBlue: #109CEB;
$ghibliBlack: #221815;

@mixin fastDisplay($x, $y, $z) {
  display: flex;
  align-items: center;
  justify-content: $x;
  flex-flow: $y $z;
}

.main-container {
  @include fastDisplay(none, column, nowrap);
  min-height: 150vh;
  width: 99vw;


  header {
    @include fastDisplay(space-evenly, row, nowrap);
    height: 320px;
    width: 100.6%;
    background-image: url('./assets/totoro.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 62%;
    background-color: $ghibliBlue;

    h1 {
      font-size: 56px;
      color: white;
    }
  }

  main {
    @include fastDisplay(space-evenly, column, nowrap);
    width: 100.5%;


    nav {
      @include fastDisplay(center, row, nowrap);
      height: 80px;
      width: 100.1%;
      background-color: $ghibliBlack;
      color: white;

      .bt-pagination {
        padding: 10px;
        font-size: 16px;
        border-radius: 8px;
        border: 1px solid black;
        cursor: pointer;
        transition: 0.5s;
        margin: auto 16px;

        &:hover {
          background-color: $ghibliBlue;
        }
      }
    }

    .deck-box {
      display: flex;
      @include fastDisplay(center, row, wrap);
    }

    .card {
      border-radius: 8px;
      height: 300px;
      margin: 50px 10px;
      width: 30.85vw;
      box-shadow: 5px 5px 20px black;
      overflow: hidden;
    }

    img {
      height: 300px;
      width: 100%;
      transition: .5s;
    }

    .title-card {
      margin: 8px 8px 0px;
    }

    p {
      margin-top: -80px;
    }

    article {
      margin: 8px;
      visibility: hidden;
      opacity: 0;
    }

    .intro {
      height: 70px;
      width: 30.85vw;
      padding: 6px;
      position: absolute;
      background: rgb(27, 27, 27, .5);
      color: white;
      margin-top: -74px;
      border-radius: 8px;
      transition: .5s;
    }

    .card-description {
      font-size: 9px;
    }

    .card:hover {
      cursor: pointer;
    }

    .card:hover .intro {
      height: 280px;
      margin-top: -284px;
      background: $ghibliBlack;
      opacity: 0.8;
    }

    .card:hover article {
      opacity: 1;
      visibility: visible;
    }

    .card:hover img {
      transform: scale(1.1) rotate(-2deg);
    }

    .directors-producers {
      font-size: 8px;
      font-style: italic;
    }

  }

}